@page "/registrar-trabajo"
@using System.ComponentModel.DataAnnotations
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Registrar Trabajo</PageTitle>

<a href="/Trabajos" class="btn btn-secondary">Volver al Listado</a>

<br>
<br>


<h3>RegistrarTrabajo</h3>

@code {

}
